[Unit]
Description=Loading Synaptics kernel modules
After=tee-supplicant.service

[Service]
ExecStart=/bin/sh /usr/sbin/synasdk-modules-load
Type=oneshot

[Install]
WantedBy=multi-user.target
