[Unit]
Description=TEE Supplicant on %i
After=systemd-sysctl.service local-fs.target
Before=systemd-networkd.service

[Service]
User=root
EnvironmentFile=-@sysconfdir@/default/tee-supplicant
ExecStart=@sbindir@/tee-supplicant $OPTARGS

[Install]
WantedBy=basic.target
